# Python dependencies
*.pyc
__pycache__/
.venv/
.mypy_cache/
.ruff_cache/
.pdm-python
pdm.lock
uv.lock

# Configuration
config.yaml
.env
run_page/credentials.json

# Data
run_page/data.db
run_page/data.db-journal
GPX_OUT/
TCX_OUT/
FIT_OUT/
activities/
src/static/activities.json
imported.json

# Logs
*.log

# IDE
.vscode/
.idea/
.DS_Store
node_modules
