# Python dependencies
*.pyc
__pycache__/
.venv/
.mypy_cache/
.ruff_cache/
.pdm-python
pdm.lock
uv.lock

# Configuration
config.yaml
.env

# Data
run_page/data.db
run_page/data.db-journal

# Logs
*.log

# IDE
.vscode/
.idea/
.DS_Store
node_modules
